<%= simple_form_for [apartment, booking] do |f| %>
  <div class="row">
    <div class="col-6">
      <%= f.input :start_date, as: :string, input_html: { data: { bookings_target: "startDate" } }  %>
    </div>
    <div class="col-6">
      <%= f.input :end_date, as: :string, input_html: { data: { bookings_target: "endDate", action: "change->bookings#showDetails" } } %>
    </div>
  </div>
  <p>Duration of stay: <span data-bookings-target="nights"></span> nights</p>
  <div class="row">
    <div class="col-6">
      <p><strong>Total: </strong>£<span data-bookings-target="totalPrice"></span></p>
    </div>
    <div class="col-6">
      <%= f.submit %>
    </div>
  </div>
<% end %>
