<form novalidate="novalidate" class="search-form" action="/" accept-charset="UTF-8" method="get">
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="location" id="search-query" placeholder="Where do you want to go?">
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search 
    </button>
  </div>
</form>