<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Airbnb</title>
</head>
<body>
  <h1> <strong>Welcome to Airbnb: Book Your Dream Stay </strong></h1>
  <%= render "shared/form" %>

<div class="card-background">
  <br>

  <section id="homepage-properties" class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <figure>
            <img src="https://res.cloudinary.com/dk2w7ocuc/image/upload/v1669130488/homepage%20homes/irene-rego-4I2gvtDOhrc-unsplash_gzjffd.jpg" class="mb-2"alt="">
              <figcaption class="outside">
                <p class="small text-color mb-0">80+ VERIFIED HOMES</p>
                <p class="text-desc">PUT SOME INFORMATION HERE.</p>
                <p>$77 per night</p>
              </figcaption>
          </figure>
        </div>

        <div class="col-md-6">
          <figure>
            <img src="https://res.cloudinary.com/dk2w7ocuc/image/upload/v1669130488/homepage%20homes/ryan-WJDR8_QxVR8-unsplash_iqpef4.jpg" class="mb-2"alt="">
              <figcaption class="outside">
                <p class="small text-color mb-0">80+ VERIFIED HOMES</p>
                <p class="text-desc">PUT SOME INFORMATION HERE.</p>
                <p>$77 per night</p>
              </figcaption>
          </figure>
        </div>
      </div>

      

      <div class="row">
        <div class="col-md-6">
          <figure>
            <img src="https://res.cloudinary.com/dk2w7ocuc/image/upload/v1669130488/homepage%20homes/derek-torsani-9gwPgCa8y-E-unsplash_ijcrwg.jpg" class="mb-2"alt="">
              <figcaption class="outside">
                <p class="small text-color mb-0">80+ VERIFIED HOMES</p>
                <p class="text-desc">PUT SOME INFORMATION HERE.</p>
                <p>$77 per night</p>
              </figcaption>
          </figure>
        </div>

       <div class="col-md-6">
          <figure>
            <img src="https://res.cloudinary.com/dk2w7ocuc/image/upload/v1669130487/homepage%20homes/david-samuel-levinson-lqqUCTcQsXw-unsplash_slva8i.jpg" class="mb-2"alt="">
              <figcaption class="outside">
                <p class="small text-color mb-0">80+ VERIFIED HOMES</p>
                <p class="text-desc">PUT SOME INFORMATION HERE.</p>
                <p>$77 per night</p>
              </figcaption>
          </figure>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <figure>
            <img src="https://res.cloudinary.com/dk2w7ocuc/image/upload/v1669130486/homepage%20homes/roberto-nickson-6FZf3yzuodE-unsplash_ge6vow.jpg" class="mb-2"alt="">
              <figcaption class="outside">
                <p class="small text-color mb-0">80+ VERIFIED HOMES</p>
                <p class="text-desc">PUT SOME INFORMATION HERE.</p>
                <p>$77 per night</p>
              </figcaption>
          </figure>
        </div>

        <div class="col-md-6">
          <figure>
            <img src="https://res.cloudinary.com/dk2w7ocuc/image/upload/v1669130486/homepage%20homes/toa-heftiba-QzR1SYKy7L4-unsplash_dihko4.jpg" class="mb-2"alt="">
              <figcaption class="outside">
                <p class="small text-color mb-0">80+ VERIFIED HOMES</p>
                <p class="text-desc">PUT SOME INFORMATION HERE.</p>
                <p>$77 per night</p>
              </figcaption>
          </figure>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <figure>
            <img src="https://res.cloudinary.com/dk2w7ocuc/image/upload/v1669130486/homepage%20homes/rick-lobs-ptRWMbqXNUo-unsplash_dhoers.jpg" class="mb-2"alt="">
              <figcaption class="outside">
                <p class="small text-color mb-0">80+ VERIFIED HOMES</p>
                <p class="text-desc">PUT SOME INFORMATION HERE.</p>
                <p>$77 per night</p>
              </figcaption>
          </figure>
        </div>
      

        <div class="col-md-6">
          <figure>
            <img src="https://res.cloudinary.com/dk2w7ocuc/image/upload/v1669130485/homepage%20homes/jaron-nix-qkfSvtb6zkE-unsplash_fncyzv.jpg" class="mb-2"alt="">
              <figcaption class="outside">
                <p class="small text-color mb-0">80+ VERIFIED HOMES</p>
                <p class="text-desc">PUT SOME INFORMATION HERE.</p>
                <p>$77 per night</p>
              </figcaption>
          </figure>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <figure>
            <img src="https://res.cloudinary.com/dk2w7ocuc/image/upload/v1669130485/homepage%20homes/andrew-ridley-4dPHQviRbWo-unsplash_resyf4.jpg" class="mb-2"alt="">
              <figcaption class="outside">
                <p class="small text-color mb-0">80+ VERIFIED HOMES</p>
                <p class="text-desc">PUT SOME INFORMATION HERE.</p>
                <p>$77 per night</p>
              </figcaption>
          </figure>
        </div>

        <div class="col-md-6">
          <figure>
            <img src="https://res.cloudinary.com/dk2w7ocuc/image/upload/v1669130486/homepage%20homes/david-tip-0ObNTmjHPFM-unsplash_sttfx3.jpg" class="mb-2"alt="">
              <figcaption class="outside">
                <p class="small text-color mb-0">80+ VERIFIED HOMES</p>
                <p class="text-desc">PUT SOME INFORMATION HERE.</p>
                <p>$77 per night</p>
              </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</div>
</body>
