<h1>Find your perfect stay</h1>
<body>
  <p>Find me in app/views/pages/home.html.erb</p>
  <div class="navbar" id="mynavbar">
    <div class="dropdown">
      <button class="dropbtn">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#home">Home</a>
        <a href="#bookings">Bookings</a>
        <a href="#login">Sign in/Sign out</a>
      </div>
    </div>
  </div>
  <form>
    <label form="where">
    <input type="text" id="where" name="where">
  <br>
    <input type="submit" value= "Submit"
  </form>
