

.card-apartment {
  color: black;
  text-decoration: none;
  background: $blue-sky;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 10px;
  width: 350px;
  height: 400px;
  &:hover {
    color: black;
  }
}

.img-width {
  width: 500px;
}

.card-apartment-description {
  font-size: 10px;
  padding: 8px;
}

.content {
  display: flex;
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 0px 16px;
}

#map-box {
  height: 95vh;
  width: 80%;
  position: sticky;
  top: 0;
  border-radius: 10px;
  border: 10px solid $blue-sky;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}


h1 {
  color: white;
  margin-bottom: 30px;
  padding: 10px;
  padding-top: 20px;
  border-radius: 10px;
  text-align: center;
}


.card-apartment-description {
  font-size: 18px;
  color: white;
}

.background {
  background-image: url("https://wallpapers.com/images/hd/snowy-cabin-in-winter-vjg3mi1f81ladhra.jpg");
}
