.card-trip {
  overflow: hidden;
  background: $twilight-purple;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white
}

.card-trip p {
  font-size: 12px;
  color: white;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
 .carousel-inner > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
 }
 .d-block{
  height: 350px;
  width: 100%;
  object-fit: cover;

 }
