@import
url("https://fonts.googleapis.com/css?family=Roboto:400,700");
body {
  font-family: 'Roboto', sans-serif;
}



figure {
/*   width:30%; */
  position:relative;
  padding:5px;
}

figure img {
  border-radius:3px;
  box-shadow: 5px 5px 5px lightgray;
  height: 400px;
  width: 350px;
}


span {
  display:block;
}

.text-desc {
  font-size:14px!important;
/*       font-size: 16px !important; */
    line-height: 22px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: rgb(72, 72, 72) !important;
    font-weight: normal !important;
    margin-top: 0px !important;
}


p {
  margin-bottom: 0;
}