.banner {
  background-size: cover;
  background-position: center;
  height: 650px;
}


#banner-content-container {
  //position: relative;
  height:100%;
  display: flex;
  justify-content: center ;
}

.banner-text {
  justify-content: center;
  text-align: center;
  color: rgb(24, 4, 69);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


// .banner h1 {
//   margin: 0;
//   color: rgb(24, 4, 69);
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 50px;
//   font-weight: bold;
//   position: absolute;
//   left: 250px;
//   top: 1px;
// }

// .banner p {
//   font-size: 25px;
//   color: rgb(0, 0, 0);
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);;
//   position: absolute;
//   left: 300px;
//   top: 50px;
// }

#signup-button {
  position: absolute;
  left: 480px;
  top: 460px;
  border-radius: 15px;
  opacity: 0.8;
  box-shadow: 5px blue;
}

#login-button {
  position: absolute;
  left: 580px;
  top: 460px;
  border-radius: 15px;
  opacity: 0.8;
  box-shadow: 5px blue;

}
 .banner h1 {
  margin-top: 30px;
 }

.banner p {
 font-size: 25px;
 color: rgb(225, 225, 225);
 text-shadow: 1px 1px 3px rgba(0,0,0,0.2);;
 text-align: center;
 }
