.banner {
  background-image: url("https://wallpapers.com/images/hd/snowy-cabin-in-winter-vjg3mi1f81ladhra.jpg");
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  height: 650px;
}


#banner-content-container {
  position: relative;

}

#signup-button {
  position: absolute;
  left: 480px;
  top: 460px;
  border-radius: 15px;
  opacity: 0.8;
  box-shadow: 5px blue;
}

#login-button {
  position: absolute;
  left: 580px;
  top: 460px;
  border-radius: 15px;
  opacity: 0.8;
  box-shadow: 5px blue;

}
.banner h1 {
  margin: 0;
  color: #ffffff;
  text-shadow: rgba(24, 4, 69, 0.2);;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  left: 250px;
  top: 1px;
  text-align: center;
}

.banner p {
  margin-top: 20px;
  font-size: 25px;
  color: rgb(225, 225, 225);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);;
  position: absolute;
  left: 300px;
  top: 50px;
  text-align: center;
}
