.navbar-lewagon {
  justify-content: space-between;
  background: $twilight-purple;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarDropdown:hover {
  border: 2px solid rgba(0, 0, 240, 0.5);
  cursor: pointer;
}

.dropdown-menu {
  background-color: rgba(195, 81, 96, 0.5);
}

.dropdown-item {
  color: white;
}

.nav-link {
  color: white;
}