.navbar-lewagon {
  justify-content: space-between;
  background: rgba(154, 132, 150, 0.9);
  margin-top: n;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
