.tag-location {
  top: 8px;
  left: 8px;
  background: rgb(195, 81, 96);
  padding: 0px 7px;
  color: white;
  font-size: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.tag-rating {
  top: 8px;
  right: 8px;
  background: rgb(195, 81, 96);
  padding: 0px 7px;
  color: white;
  font-size: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
