
<ul>
<% @apartments.each do |apartment| %>
  <li>
    <%= link_to apartment.location, apartment_path(apartment.id) %>
    <%= cl_image_tag apartment.photos[0].key, height: 300, width: 400 %>
  </li>
<% end %>
</ul>

<div class="card-background m-5">
  <br>
  <h1>Here are some of the most popular places</h1>

  <section id="boat_services" class="my-5">
    <div class="container">
      <div class="title mb-1">
        <h2>Choose your stay below</h2>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <figure>
        <img src="https://a0.muscache.com/im/pictures/60c04cb1-2ddc-403a-a48a-781b5f84872f.jpg" class="mb-2"alt="">
        <figcaption class="inside">
          <h2 class="text-white">Cape Town<span>South Africa</span></h2>
        </figcaption>
        <figcaption class="outside">
          <p class="small text-color mb-0">Added 4 weeks ago</p>
          <p class="text-desc">See More Info</p>
          <p>$50 per night</p>
        </figcaption>
      </figure>

        </div>
        <div class="col-md-4 col-sm-6">
          <figure>
        <img src="https://a0.muscache.com/im/pictures/0fe05c35-c735-4ece-8658-a648a505303d.jpg" class="mb-2"alt="">
        <figcaption class="inside">
          <h2 class="text-dark">Malibu<span>California</span></h2>
        </figcaption>
        <figcaption class="outside">
          <p class="small text-color mb-0">Added 3 weeks ago</p>
          <p class="text-desc">See More Info</p>
          <p>$70 per night</p>
        </figcaption>
      </figure>

      </div>
        <div class="col-md-4 col-sm-6">
          <figure>
        <img src="https://a0.muscache.com/im/pictures/3e292cb8-b2c9-4058-aed7-1135c0d4154a.jpg" class="mb-2"alt="">
        <figcaption class="inside">
          <h2 class="text-white">Cedar City<span>Utah</span></h2>
        </figcaption>
        <figcaption class="outside">
          <p class="small text-color mb-0">Added 1 week ago</p>
          <p class="text-desc">See More Info</p>
          <p>$60 per night</p>
        </figcaption>
      </figure>
        </div>
      </div>
      <div class="title mb-1">

      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <figure>
        <img src="https://a0.muscache.com/im/pictures/60c04cb1-2ddc-403a-a48a-781b5f84872f.jpg" class="mb-2"alt="">
        <figcaption class="inside">
          <h2 class="text-white">Broad Cove<span>Canada</span></h2>
        </figcaption>
        <figcaption class="outside">
          <p class="small text-color mb-0">Added 2 weeks ago</p>
          <p class="text-desc">See More Info</p>
          <p>$80 per night</p>
        </figcaption>
      </figure>

        </div>
        <div class="col-md-4 col-sm-6">
          <figure>
        <img src="https://a0.muscache.com/im/pictures/0fe05c35-c735-4ece-8658-a648a505303d.jpg" class="mb-2"alt="">
        <figcaption class="inside">
          <h2 class="text-dark">Grass Valley<span>California</span></h2>
        </figcaption>
        <figcaption class="outside">
          <p class="small text-color mb-0">Added 7 weeks ago</p>
          <p class="text-desc">See More Info</p>
          <p>$90 per night</p>
        </figcaption>
      </figure>

      </div>
        <div class="col-md-4 col-sm-6">
          <figure>
        <img src="https://a0.muscache.com/im/pictures/3e292cb8-b2c9-4058-aed7-1135c0d4154a.jpg" class="mb-2"alt="">
        <figcaption class="inside">
          <h2 class="text-white">Dolphin<span>Australia</span></h2>
        </figcaption>
        <figcaption class="outside">
          <p class="small text-color mb-0">Added 6 weeks ago</p>
          <p class="text-desc">See More Info</p>
          <p>$70 per night</p>
        </figcaption>
      </figure>
        </div>
      </div>

      <div class="container">
      <div class="title mb-1">
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <figure>
        <img src="https://a0.muscache.com/im/pictures/60c04cb1-2ddc-403a-a48a-781b5f84872f.jpg" class="mb-2"alt="">
        <figcaption class="inside">
          <h2 class="text-white">Livingston<span>Montana</span></h2>
        </figcaption>
        <figcaption class="outside">
          <p class="small text-color mb-0">Added 5 weeks ago</p>
          <p class="text-desc">See More Info</p>
          <p>$55 per night</p>
        </figcaption>
      </figure>

        </div>
        <div class="col-md-4 col-sm-6">
          <figure>
        <img src="https://a0.muscache.com/im/pictures/0fe05c35-c735-4ece-8658-a648a505303d.jpg" class="mb-2"alt="">
        <figcaption class="inside">
          <h2 class="text-dark">Broken Bow<span>Oklahoma</span></h2>
        </figcaption>
        <figcaption class="outside">
          <p class="small text-color mb-0">Added 3 weeks ago</p>
          <p class="text-desc">See More Info</p>
          <p>$80 per night</p>
        </figcaption>
      </figure>

      </div>
        <div class="col-md-4 col-sm-6">
          <figure>
        <img src="https://a0.muscache.com/im/pictures/3e292cb8-b2c9-4058-aed7-1135c0d4154a.jpg" class="mb-2"alt="">
        <figcaption class="inside">
          <h2 class="text-white">Baveno <span>Italy</span></h2>
        </figcaption>
        <figcaption class="outside">
          <p class="small text-color mb-0">Added 6 weeks ago</p>
          <p class="text-desc">See More Info</p>
          <p>$85 per night</p>
        </figcaption>
      </figure>
        </div>
      </div>
      <div class="title mb-1">

      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <figure>
        <img src="https://a0.muscache.com/im/pictures/60c04cb1-2ddc-403a-a48a-781b5f84872f.jpg" class="mb-2"alt="">
        <figcaption class="inside">
          <h2 class="text-white">Sorgues<span>France</span></h2>
        </figcaption>
        <figcaption class="outside">
          <p class="small text-color mb-0">Added 3 weeks ago</p>
          <p class="text-desc">See More Info</p>
          <p>$77 per night</p>
        </figcaption>
      </figure>

        </div>
        <div class="col-md-4 col-sm-6">
          <figure>
        <img src="https://a0.muscache.com/im/pictures/0fe05c35-c735-4ece-8658-a648a505303d.jpg" class="mb-2"alt="">
        <figcaption class="inside">
          <h2 class="text-dark">Lisbon<span>Portugal</span></h2>
        </figcaption>
        <figcaption class="outside">
          <p class="small text-color mb-0">Added 11 weeks ago</p>
          <p class="text-desc">See More Info</p>
          <p>$60 per night</p>
        </figcaption>
      </figure>

      </div>
        <div class="col-md-4 col-sm-6">
          <figure>
        <img src="https://a0.muscache.com/im/pictures/3e292cb8-b2c9-4058-aed7-1135c0d4154a.jpg" class="mb-2"alt="">
        <figcaption class="inside">
          <h2 class="text-white">Hamden<span>New York</span></h2>
        </figcaption>
        <figcaption class="outside">
          <p class="small text-color mb-0">Added 7 weeks ago</p>
          <p class="text-desc">See More Info</p>
          <p>$80 per night</p>
        </figcaption>
      </figure>
        </div>
      </div>
    </div>
  </section>
</div>
