

<div class="card-background">
  <br>
  <h1>Here are some of the most popular places</h1>

  <section id="boat_services" class="my-5">
    <div class="container">
      <div class="title mb-1">
        <h2>Choose your stay below</h2>
      </div>

  <div class="container-cards">
      <div class="row">
        <% @apartments.each do |apartment| %>
          <div class="col-md-6 col-lg-4">
                <div class="text p-2">
                  <h2 class="text-black"><span><%= apartment.title %></span></h2>
                </div>
              <%= cl_image_tag apartment.photos[0].key, height: "auto", width: 400, class: "mb-2" %>
                <p class="small text-color mb-0">Added 4 weeks ago</p>
                <p class="text-desc">See More Info</p>
              <%= link_to apartment.location, apartment_path(apartment.id) %>
                <p>$50 per night</p>

          </div>
        <% end %>
       </div>

  </div>
  </section>
</div>
