

<ul>
<% @apartments.each do |apartment| %>
  <li>
    <%= link_to apartment.location, apartment_path(apartment.id) %>
  </li>
<% end %>
</ul>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<section id="boat_services" class="my-5">
  <div class="container">
    <div class="title mb-1">
      <h2>Here are some of the most popular places</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <figure>
      <img src="https://a0.muscache.com/im/pictures/60c04cb1-2ddc-403a-a48a-781b5f84872f.jpg" class="mb-2"alt="">
      <figcaption class="inside">
        <h2 class="text-white">Homes in <span>London</span></h2>
      </figcaption>
      <figcaption class="outside">
        <p class="small text-color mb-0">80+ VERIFIED HOMES</p>
        <p class="text-desc">PUT SOME INFORMATION HERE.</p>
      </figcaption>
    </figure>


      </div>
      <div class="col-md-4">
        <figure>
      <img src="https://a0.muscache.com/im/pictures/0fe05c35-c735-4ece-8658-a648a505303d.jpg" class="mb-2"alt="">
      <figcaption class="inside">
        <h2 class="text-dark">Homes in <span>Lisbon</span></h2>
      </figcaption>
      <figcaption class="outside">
        <p class="small text-color mb-0">70+ VERIFIED HOMES</p>
        <p class="text-desc">PUT SOME INFORMATION HERE.</p>
      </figcaption>
    </figure>
      </div>
      <div class="col-md-4">
        <figure>
      <img src="https://a0.muscache.com/im/pictures/3e292cb8-b2c9-4058-aed7-1135c0d4154a.jpg" class="mb-2"alt="">
      <figcaption class="inside">
        <h2 class="text-white">Homes in <span>Paris</span></h2>
      </figcaption>
      <figcaption class="outside">
        <p class="small text-color mb-0">30+ VERIFIED HOMES</p>
        <p class="text-desc">PUT SOME INFORMATION HERE.</p>
      </figcaption>
    </figure>
      </div>
    </div>

  </div>
</section>
