<div class="container">

  <div class="card-trip">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @apartment.photos.each do |photo| %>
          <div class="carousel-item active">
            <%= cl_image_tag photo.key, class: "d-block w-100" %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="card-trip-infos">
      <div>
        <h1><%= @apartment.address %> <%= @apartment.rating %></h1>
        <p>Short description here!</p>
        <%= link_to "Go back", apartments_path, class:"btn btn-flat" %>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/ricardomendes26" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>

<div class="container" style=""display:flex>
<div class="row">
    <div class="col-12 col-lg-8">
      <h2>this is for the map</h2>
    </div>

    <div class="col-12 col-lg-4">
      <div class="container" style="border:1px solid black; border-radius:15px; background-color:white; width:200px;">
        <h2 style="border-bottom:1px solid black;">checkout</h2>
        <p style="border-bottom:1px solid black;">price per night is</p>
        <p style="border-bottom:1px solid black;">total fees are:</p>
        <p><strong>total is</strong></p>
      </div>
    </div>
  </div>
</div>
