<div class="container">

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h1><%= @apartment.location %> <%= @apartment.rating %></h1>
        <p>Short description here!</p>
        <%= link_to "Go back", apartments_path, class:"btn btn-flat" %>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/ricardomendes26" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>
